html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  /* background-color: #2445A6; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.active {
  color: #ffffff !important;
  border-bottom: 3px solid #ffffff;
}
section {
  background-color: #2445a6;
  background-image: url("../public/bg.svg");
}
.react-multiple-carousel__arrow {
  background: transparent !important;
  border: 3px solid #ffffff !important;
  bottom: 12px !important;
}