.topnav {
    background-color: #2445a6;
}
.logo_pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_content {
    font-size: 20px;
    color: #92a2d3;
    text-transform: uppercase;
}
